input[type="range"] {
  display: block;
  -webkit-appearance: none;
  appearance: none;
  background-color: #bdc3c7;
  width: 300px;
  height: 5px;
  border-radius: 5px;
  margin: 0 auto;
  outline: 0;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: #e74c3c;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.mainmenu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  gap: 50px;
  text-align: center;
}
.questionnumber {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-direction: column;
  font-size: 18px;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}
.question {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: 100px 150px 50px 50px;
  gap: 50px;
}

.gridreponse {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: 50px 50px;
  gap: 50px;
}
.proposition {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(54, 54, 73);
  border-radius: 50px;
  cursor: pointer;
}
.proposition.bad {
  background-color: crimson;
}
.proposition.good {
  background-color: teal;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: dodgerblue;
  width: 200px;
  height: 50px;
  border-radius: 50px;
  cursor: pointer;
}
.end {
  gap: 30px;
  text-align: center;
}

.avis {
  margin-top: 100px;
}
@media screen and (max-width: 500px) {
  .gridreponse {
    grid-template-columns: 200px;
    grid-template-rows: repeat(4, 50px);
    gap: 30px;
  }
}
